* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Charter, 'Georgia', serif;
}

html {
  font-size: 62.5%;
  /* font-size 10px */
}

body {
  background-color: #f7f5f2;
  padding-top: 110px; /* to prevent content being hidden behind fixed nav */
  height: 100dvh;
}

/* refusded style */
.container {
  padding-inline: 18rem;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Charter, 'Georgia', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* NAVIGATION BAR */
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #000;
  background-color: #f7f4ef;
}
.logo {
  font-size: 2.6rem;
  letter-spacing: -1px;
  font-weight: bold;
}

.left-side-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li {
  font-size: 1.2rem;
}

/* HERO PAGE */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 510px;
  padding-left: 180px;
  border-bottom: 1px solid #000;
}

/* Left side text */
/* .hero-text {
  max-width: 80rem;
} */

.hero-text h1 {
  /* font-size: 56px; */
  margin-bottom: 2.9rem;
  font-size: 11rem;
  font-weight: 400;
  line-height: 10rem;
  letter-spacing: -4px;
}

.hero-text p {
  font-size: 1.8rem;

  color: #444;
}

.hero-text button {
  padding: 12px 28px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 26px;
}

/* Right side image */

.hero-image-container {
  margin-left: auto; /* THIS pushes it to the extreme right */
}

.hero-image-img {
  /* width: 100%; */
  max-width: 100%;
  /* object-fit: cover; */
  margin-left: auto;
}

.hero-image-img {
  width: 41rem;
  height: 60rem;
  object-fit: contain;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 1.2rem;
  padding: 27px 0;
  line-height: 20px;
  color: #6b6b6b;
}

/* LARGE SCREEN BUT NOT THE LARGEST */

@media (max-width: 62.5rem) {
  html {
    font-size: 50%;
    /* 16px * 50% = 8px */
  }
  /* refusded style */
  .container {
    padding-inline: 8rem;
  }
  nav {
    padding: 2rem 2rem;
  }
  .logo {
    font-size: 4rem;
  }
  .nav-links li {
    font-size: 1.8rem;
  }
  .hero {
    padding-inline: 8rem 0;
  }

  .hero-text h1 {
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3.5rem;
  }
  .hero-text p {
    font-size: 3rem;

    color: #444;
  }
  .hero-text {
    max-width: 300rem;
  }
  .hero-text button {
    padding: 12px 28px;
    font-size: 18px;
    margin-top: 5rem;
  }
  .link {
    font-size: 1.5rem;
  }
}
/* MIDIUM SCREEN */
@media (max-width: 46rem) {
  html {
    font-size: 50%;
    /* 16px * 50% = 6px */
  }
  .hero-image-container {
    display: none;
  }

  /* refusded style */
  .container {
    padding-inline: 5rem;
  }

  /* HERO PAGE */

  .hero {
    padding-inline: 5rem 0;
  }

  .hero-text {
    max-width: 90rem;
  }

  .hero-text button {
    background-color: #156d12;
    padding: 12px 45px;
  }

  /* Footer */
  footer {
    padding-inline: 5rem 0;
    justify-content: flex-start;
    align-items: center;
    line-height: 20px;
    color: #fff;
    background-color: #000;
  }

  .link {
    display: none;
  }

  footer .l1,
  .l3,
  .l7,
  .l9 {
    display: block;
  }
  .l3 {
    order: 1;
  }
  .l1 {
    order: 2;
  }
  .l9 {
    order: 3;
  }
  .l7 {
    order: 4;
  }
}

/* SMALL SCREEN */

@media (max-width: 45rem) {
  html {
    font-size: 42%;
    /* 16px * 37.5% = 6px */
  }
  .nav-links li {
    display: none;
  }
  .nav-links .nav4 {
    display: block;
  }

  footer {
    padding: 4rem 0;
    color: #fff;
    padding-inline: 4rem 0;
  }
  .link {
    font-size: 2rem;
  }
  .hero-text h1 {
    margin-bottom: 4rem;
  }

  .hero-text button {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}

/* SMALLER SCREEN */

@media (max-width: 35rem) {
  .nav-links .nav4 {
    display: none;
  }

    .hero-text button {
    margin-bottom: 2rem;
  }

  
}



